<h1>PrimitiveApes</h1>
<sub> Team Page </sub>
<table style="border-top:none; border-bottom:none">
     <tr>
         <td><a href=".">Home</a></td>
         <td><a href="owner">Project Owner + Requirements</a></td>
         <td><a href="idea">Project Ideas</a></td>
          <td><a href="Technical Plan">Technical Plan</a></td>
         <td><a href="roles">Team Roles</a></td>
          <td><a href="Hosting Plan">Hosting Plan</a></td>
          <td><a href="Project Documentation">Project Documentation</a></td>
          <td><a href="database">Technical Documentation</a></td>
     </tr>
 </table>
 <hr>
