<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <a class="navbar-brand" href="http://primitiveapes.pentahex.xyz/">
            <img src="/static/images/youngsterjoey.PNG" th:src="@{/images/youngsterjoey.PNG}" width="50" height="50" class="d-inline-block align-center" alt="">
            Seating Chart
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home   <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/seatassign">Seater   <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about-us">About Us   <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <th:block sec:authorize="isAnonymous()">
                <div class="px-3">
                    <a th:href='@{/login}' class="link-dark">Login</a>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <div class="px-3">
                    <a th:href='@{/logout}' class="link-dark">Logout</a>
                </div>
            </th:block>

        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>