<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Main Page</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">




    <div id="input">
        <h1>Add a Student</h1>
    <form action="#" th:action="@{/createstudent}" th:object="${student}" method="POST">
        <div class="form-group" >
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" id="name">
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
        </div>
       <!--
        <div class="input-group mb-2 mr-sm-2">
            <label for="table_number">Table Number</label>
            <input type="number" th:field="*{table_number}" id="table_number">
            <small th:if="${#fields.hasErrors('table_number')}" th:errors="*{table_number}">Table Error</small>
        </div> -->
        <div class="form-group">
            <label for="period">Period:</label>
            <input type="number" th:field="*{period}" id="period">
            <small th:if="${#fields.hasErrors('period')}" th:errors="*{period}">Period Error</small>
        </div>


            <div style="margin-top:3%; margin-right:auto; margin-left:auto;">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

    </form>
</div>


</div>
</body>
</html>