<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Main Page</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <!--homepage image text stuff -->
<div style="top:0; left:0;position:relative;">
    <img class="bigpic" src="/static/images/classroom.jpg" th:src="@{/images/classroom.jpg}" width="100%">
    <div id="title" class="fade">
    <h1 class="title">PrimitiveApes'<br> Tools for Teachers</h1>
        <p class="title">Find out how we are easing the way<br> teachers teach through innovative programming</p>
        <button class = "stylishbutton" id="colorchange"><span>some button here to some program</span></button>
    </div>
    <!-- End of body content specific to page  -->
</div>

<p>put something here, idk what</p>

</div>
</body>

</html>