<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">

    <title>title!</title>
    </div>
</head>


<body>
<div layout:fragment="content" th:remove="tag">
<form action="/test">
    <label for="allnames">Names of Students in period: </label>
    <input type="text" id="allnames" name="allnames"><br>
<!--    <label for="numStudents">Number of Students in the period: </label>-->
<!--    <input type="int" id="numStudents" name="numStudents"><br>-->
    <label for="numTables">Number of Tables: </label>
    <input type="int" id="numTables" name="numTables"><br>
    <label for="studentsPerTable">Number of Students per Table: </label>
    <input type="int" id="studentsPerTable" name="studentsPerTable"><br>

    <input type="submit" value="Submit">
</form>

    <div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
        <table class="table">
<!--            <tr th:each="value: ${tables}"></tr>-->
                <p th:text="${tables}"></p>
        </table>
    </div>

<!--<script type="text/javascript">-->
<!--    var array = [[${groups}]];-->
<!--    var arrayLength = array.length;-->

<!--    for(var i = 0; i < arrayLength; i++){-->

<!--    }-->
<!--</script>-->


</div>
</body>
</html>