<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title!</title>
</head>
<body>

<form action="/test">
    <label for="allnames">Names of Students in period: </label>
    <input type="text" id="allnames" name="allnames"><br>
    <label for="numStudents">Number of Students in the period: </label>
    <input type="int" id="numStudents" name="numStudents"><br>
    <label for="numTables">Number of Tables: </label>
    <input type="int" id="numTables" name="numTables"><br>
    <label for="studentsPerTable">Number of Students per Table: </label>
    <input type="int" id="studentsPerTable" name="studentsPerTable"><br>

    <input type="submit" value="Submit">
</form>

<table>

</table>

<script type="text/javascript">
    var array = [[${groups}]];
    var arrayLength = array.length;

    for(var i = 0; i < arrayLength; i++){

    }
</script>


</body>
</html>