<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Main Page</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
<!--
    <div class="container">

        <div class="row justify-content-md-center">
            <h1>Random seat assign</h1>
        </div>
        <div class="row justify-content-md-center">
            <a th:href="#">Enter student name</a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Student</th>
                <th>Period</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${list}">
                <td th:text="${person.id}">Student</td>
                <td th:text="${person.email}">Period</td>
                <td>
                    <a th:href="@{/database/personupdate/{id}(id = ${person.id})}">Update</a>
                    <a th:href="@{/database/persondelete/{id}(id = ${person.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <button>Randomize!</button>
    </div>-->
    <div style="width:100%;text-align: center;" id="seattitle">
         <h1>Random Seating Chart</h1>
    </div>
    <div id="dynamictable">
        <table class="table table-bordered">
         <thead>
            <tr>
                <td>Student</td>
                <td>Period</td>
            </tr>
         </thead>
         <tbody>
         <tr>
             <td>
                 <p>In progress</p> <!--refer to table syntax above when db complete-->
             </td>
             <td>
                 <p>In progress</p>
             </td>
         </tr>
         </tbody>
        </table>

        <a href="/createstudent">Add Student</a>

        <div>
        <form action="/seatassign" method="GET" > <!--might have to change GET to POST if necessary-->
            <input id="start" name="start" type="submit" value="Randomize!" class="btn btn-primary">
        </form>
        </div>

    </div>
</div>
</body>
</html>