<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Main Page</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
<!--
    <div class="container">

        <div class="row justify-content-md-center">
            <h1>Random seat assign</h1>
        </div>
        <div class="row justify-content-md-center">
            <a th:href="#">Enter student name</a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Student</th>
                <th>Period</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${list}">
                <td th:text="${person.id}">Student</td>
                <td th:text="${person.email}">Period</td>
                <td>
                    <a th:href="@{/database/personupdate/{id}(id = ${person.id})}">Update</a>
                    <a th:href="@{/database/persondelete/{id}(id = ${person.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <button>Randomize!</button>
    </div>-->
    <div style="width:100%;text-align: center;" id="seattitle">
         <h1>Seating Chart</h1>
    </div>
    <div id="dynamictable">
        <table class="table table-bordered">
         <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Period</td>
            </tr>
         </thead>
         <tbody>
         <tr th:each="student : ${list}">
             <td th:text="${student.id}">ID</td><!--refer to table syntax above when db complete-->

             <td th:text="${student.name}">Name</td>
             <td th:text="${student.period}">Period</td>

             <td>
                 <a th:href="@{/database/student_update/{id}(id = ${student.id})}">Update</a>
                 <a th:href="@{/database/student_delete/{id}(id = ${student.id})}">Delete</a>
                 <a th:href="@{/database/notes/{id}(id = ${student.id})}">Notes</a>
             </td>
         </tr>

         </tbody>
        </table>

        <a class="btn btn-primary" th:href="@{/createstudent}" role="button">Add Student</a>
        <div style="margin-top:3%; margin-bottom:3%;">
        <form action="/seatassign" method="GET" > <!--might have to change GET to POST if necessary-->
            <input id="start" name="start" type="submit" value="Randomize!" class="btn btn-primary">
        </form>
        </div>

        <!--resources that might help create the tiles-->
        <!--https://www.w3schools.com/howto/howto_js_draggable.asp,
        https://web.dev/drag-and-drop/?gclid=Cj0KCQjwg_iTBhDrARIsAD3Ib5jWJv1jV2WHzyBV-8n_1z4D2zgEnpMhb3jfp1XNtzL_X8vFaxX_T2AaAlEqEALw_wcB-->
        <!--https://stackoverflow.com/questions/65690569/multiple-draggable-elements-->

    </div>
</div>

</body>
</html>