*{
    overflow-x:hidden;
}
.bigpic{
    filter:blur(8px);
    -webkit-filter: blur(8px);

}
.stylishbutton{
    transition-duration: 0.3s;
    border-radius:12px;
    border:none;
    display: inline-block;
    margin: 4px 2px;
    padding: 20px;
    text-align: center
}
.stylishbutton span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.stylishbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}
.stylishbutton:hover span{
    padding-right:25px;
}
.stylishbutton:hover span:after {
    opacity: 1;
    right: 0;
}
#colorchange{
    box-shadow: 5px 10px  5px rgba(0, 0, 0, 0.2),0px 1px  5px  rgba(0, 0, 0, 0.2);
}
#colorchange:hover{
    background-color:Green;
    color: #F5F5F5;
    box-shadow: none;
}
.fade{
    animation: fadeIn 3s ;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s ;
    -ms-animation: fadeIn 3s ;
    animation-fill-mode:forwards;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
#title{
    overflow-y:hidden;
    top:16%;
    left:10%;
    position:absolute;
}
.title{
    font-family: Andale Mono, monospace;

}
h1.title{
    font-size:80px;
    font-weight: bold;
}
p.title{
    font-size:20px;
}