#dynamictable{
    margin-right:20%;
    margin-left:20%;

}
#seattitle{
    width:100%;
    text-align: center;
    margin-top:5%;
}
#input{
    text-align:center;
    margin-top:5%;
    padding-top:3%;
    height:auto;
    width:18%;
    position:relative;
    display:block;
    margin-right:auto;
    margin-left:auto;
}